{% extends 'base.html' %}
{% load static %}
{% load django_markdown %}

{% block body %}
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">The Cask of Amontillado</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">About</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">Contact</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>Amontillado's Cask</h1>
                            <hr class="small">
                            <span class="subheading">The Cask of Amontillado</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for object in object_list %}
                    <div class="post-preview">
                        <a href="{% url 'entry_detail' slug=object.slug %}">
                            <h2 class="post-title">
                                {{ object.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ object.title_summary|markdown }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">Gichana and the Machines</a> {{ object.created }} |
                            Tagged under: {{ object.tags.all|join:", " }}</p>
                    </div>
                    <hr>
                    {% endfor %}
                    <!-- Pager -->
                    <ul class="pager">
                        <li class="previous">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}">Newer Posts</a>
                            {% endif %}
                        </li>

                        <li class="next">
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">Older Posts &rarr;</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </body>
{% endblock %}
